html,
body {
    background-image: linear-gradient(rgb(5, 22, 25), rgb(21, 43, 36), rgb(35, 39, 28));
    background-repeat: no-repeat;
    font-family: "Poppins", system-ui;
    min-height: 100vh;
    scroll-behavior: smooth;
}

.swiper {
    width: 100%;
    border-radius: 0px 0px 10px 10px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: fit-content;
    max-height: 400px;
}

.swiper-slide img {
    display: block;
}

.animation:hover {
    transform: scale(1.1);
}


.resume-btn {
    background-image: linear-gradient(to right, rgb(13, 45, 51) 0%, rgb(27, 62, 51) 50%, rgba(27, 58, 54, 0.703) 75%, rgb(57, 78, 24) 100%);
    padding: 8px 24px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.3s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 1px solid rgba(136, 220, 0, 0.555);
}

.resume-btn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}